.sample {
  text-align: left;
  width: 53%;
  margin: 0 auto;
}

textarea {
  width: 53%
}

.incorrect {
  color: red;
}

button {
  padding: 50px;
  border-width: 0;
  margin: 0px 25px;
  font-size: 20px;
  color: white;
}

#Red {
  background-color: red;
}

#Blue {
  background-color: blue;
}

.picked {
  border-width: 10px;
}

:disabled {
  opacity: 0.5;
}