.sample {
  text-align: left;
  width: 53%;
  margin: 0 auto;
}

textarea {
  width: 53%
}

.incorrect {
  color: red;
}

button {
  padding: 50px;
  margin: 0 25px;
  font-size: 20px;
}

button[type="submit"] {
  padding: 10px;
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.picked {
  border-width: 10px;
}

:disabled {
  opacity: 0.5;
}
